:root{
 --azul-escuro: #010B40;
 --azul-claro: #037F8C;
 --lilas-bemEscuro: #510273;
 --lilas-medio: #6E038C;
 --lilas-claro: #A904BF;
}

/* Menu */

.content {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--azul-escuro);
    position: fixed;
    padding-left: 30rem;
}

.logo {
    width: 70px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo h3 {
    color: white;
    font-size: 1.6rem;
    margin-left: 15px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.content #primeira-lista {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content #primeira-lista li a {
    padding: 3rem 1rem 2rem 1rem;
    color: #fff;
    font-size: 1.8rem;
    text-transform: uppercase;
    transition: all 200ms ease-in;
}

.content #primeira-lista li a:hover {
    border-bottom: 2px solid var(--lilas-claro);
    color: var(--lilas-claro);
}

.content #segunda-lista {
    width: 70px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: right;
}

.content #segunda-lista li a {
    padding: 3rem 1rem 2rem 1rem;
    color: #fff;
    font-size: 1.8rem;
    text-transform: uppercase;
    transition: all 200ms ease-in;
}

.content #segunda-lista li a:hover {
    border-bottom: 2px solid var(--lilas-claro);
    color: var(--lilas-claro);
}

/* Formulario */
.parte-principal{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-left: 30rem;
}

.conteudo .cabecalho-doform {
    font-size: 1.5rem;
    color: #000;
    display: flex;
    align-items: center;
}